
/* desktop css - style.css */
header nav > .m-menu {
    display: none;
}
header nav > .menu {
    display: none;
}

@media (min-width: 1400px) {

}
@media (max-width: 1399px) {
    html, body, header {
        min-width: 100%;
    }
    header .inner,
    .inner {
        width: 100%;
    }

    /* recruit */
    .recruit-wrap section .recruit-guide {
        padding: 0 36px;
    }
}
@media (max-width: 1199px) {
    footer {
        padding: 48px;
    }
    footer .footer-left {
        width: calc(100% / 2 + 150px);
    }
    footer .footer-right {
        width: calc(100% / 2 - 75px);
    }
    footer address {
        width: 100%;
    }
    footer address p {
        align-items: start;
    }
    
}
/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
    footer address p:nth-child(2) {
        margin-left: 10px;
    }
}

@media (max-width: 767px) {
    html {
        -webkit-touch-callout:none;
        -webkit-user-select:none;
        -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    }
    body.open {
        overflow-y: hidden;
    }
    header:hover {
        background-color: transparent;
    }
    header .logo {
        height: 56px;
        width: 120px;
    }
    header .logo a {
        background-position: 16px center;
        background-size: auto 72%;
    }
    header nav > ul {
        display: block;
        width: 72vw;
        margin-top: 56px;
    }
    header nav > ul > li:first-child {
        border-top: 1px solid #f2f2f2;
        padding-top: 8px;
    }
    header nav > ul > li > a {
        width: auto;
        text-align: left;
        font-size: 16px;
        line-height: 20px;
        padding: 16px 24px;
        transition: none;
    }
    header nav > ul > li > a + .depth {
        display: block;
        position: relative;
        text-align: left;
        font-size: 16px;
        line-height: 20px;
        background-color: transparent;
        padding: 16px 0;
    }
    header nav .depth li a {
        display: block;
        color: #000;
        padding-left: 24px;
    }
    header nav > .menu {
        width: 30px;
        height: 20px;
        background: transparent;
        position: relative;
        overflow: hidden;
        float: right;
        margin: 18px 16px;
        display: block;
        z-index: 5;
    }
    header nav .menu span {
        display: block;
        width: 100%;
        height: 1px;
        left: 0;
        background: #fff;
        position: absolute;
        transition: all 0.3s;
    }
    .sub header nav .menu span,
    header.fixed nav .menu span,
    header nav .menu.open span {
        background: #000 !important;
    }
    header nav .menu span:nth-child(1) {
        top: 0;
    }
    header nav .menu span:nth-child(3) {
        bottom: 0;
    }
    header nav .menu.open span:nth-child(1) {
        rotate: 135deg;
        top: 50%;
    }
    header nav .menu.open span:nth-child(2) {
        left: 50px;
    }
    header nav .menu.open span:nth-child(3) {
        rotate: 45deg;
        top: 50%;
    }
    header nav > .m-menu {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0,0,0,.32);
    }
    header nav > .m-menu .inner {
        background: #fff;
        width: 72vw;
        height: 100vh;
        position: absolute;
        right: -500px;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        transition: all 1s;
    }
    header nav > .m-menu ~ ul {
        display: none;
    }
    header nav > .menu.open + .m-menu ~ ul {
        display: block;
    }
    header nav > .menu.open + .m-menu {
        display: block;
    }
    header nav > .menu.open + .m-menu .inner {
        right: 0;
    }
    .sub header {
        background-color: #fff !important;
        box-shadow: 0 3px 10px rgb(0 0 0 / 8%) !important;
    }

    footer {
        padding: 32px;
    }
    footer .footer-left {
        width: 49%;
        flex-direction: column;
    }
    footer .footer-left img {
        height: 60px;
        width: auto;
    }
    footer .footer-right {
        width: 49%;
        margin-top: 100px;
    }
    footer .footer-info {
        margin-left: 0;
        margin-top: 32px;
        line-height: 1.1;
    }
    footer .footer-info strong {
        margin-bottom: 16px;
    }


    /* recruit */
    .recruit-wrap section .recruit-guide {
        padding: 0 24px;
    }
    
}
@media (min-width: 576px) and (max-width: 767px) {
    body { 
        border: 1px solid blue; 
    }
}
@media (max-width: 575px) {

   #wrap.sub {
       padding-top: 72px;
   }

    #wrap.sub .page-header {
        padding: 24px 16px;
    }
    #wrap.sub .page-header h2 {
        font-size: 24px;
        line-height: normal;
    }
    footer {
        padding: 24px 24px 80px;
    }
    footer .inner {
        flex-wrap: wrap;
        position: relative;
    }
    footer .footer-left, footer .footer-right {
        width: 100%;
    }
    footer .footer-right {
        margin-top: 12px;
    }
    footer .footer-info .copyright {
        position: absolute;
        bottom: -48px;
    }
    footer address p {
        width: 100%;
    }
    footer address p:nth-child(2) {
        margin-left: 0;
        margin-top: 10px;
    }
    /* main */
    .main-visual .visual-slide .swiper-slide strong {
        font-size: 10vw;
    }
    /* greeting */
    .greeting {
        flex-direction: column;
    }
    .greeting .ceo-img {
        width: 100vw;
        height: 100vw;
    }
    .greeting .ceo-text {
        padding: 36px 16px;
    }
    .greeting .ceo-text div {
        font-size: 16px;
        line-height: 20px;
        margin: 36px 0;
    }
    .greeting .ceo-text span {
        font-size: 16px;
    }
    /* partner */
    .partner-wrap .partner-top {
        border: 1px solid red;
        height: 400px;
    }
    .partner-wrap .partner-top p {
        font-size: 24px;
        line-height: 32px;
        padding: 0 36px;
    }
    .partner-wrap .partner-top span {
        font-size: 16px;
    }
    .partner-wrap .partner-box h3 {
        margin-bottom: 40px;
    }
    .partner-wrap .partner-box .partner-img {
        height: 50vh;
        width: 100%;
        overflow-x: auto;
        -webkit-transform: translateZ(0);
    }
    .partner-wrap .partner-box .partner-img img {
        height: 100%;
        width: 200vw;
        max-width: 200vw;
    }
    .partner-wrap .partner-box:nth-of-type(2) .partner-img {
        height: 38vh;
    }
    .partner-wrap .partner-box:nth-of-type(2) .partner-img img {
        margin-left: -112px;
    }
    .partner-wrap .partner-info {
        margin-top: 80px;
        border: 1px solid red;
        overflow-x: auto;
    }
    .partner-wrap .partner-info table {

    }
    .partner-wrap .partner-info table th,
    .partner-wrap .partner-info table td {
        font-size: 16px;
        padding: 8px 0;
    }
    /* business */
    .business-wrap .section-1 {
        padding: 48px 0;
    }
    .business-wrap section[class^=section-] h3.section-title {
        margin-bottom: 48px;
    }
    .business-wrap .section-1 .img ul {
        flex-direction: column;
    }
    .business-wrap .section-1 .img ul li p {
        font-size: 16px;
    }
    .business-wrap .section-1 .img ul li > img {
        transform: rotate(90deg);
        width: 20px;
        margin: 24px auto;
    }
    .business-wrap .section-3 .img {
        padding: 36px 16px;
    }
    .business-wrap .section-3 .img img+img {
        margin: 24px auto;
    }
    .business-wrap .section-3 .img div {
        font-size: 16px;
        line-height: 20px;
        height: auto;
        width: auto;
        padding: 36px 48px;
    }
    .business-wrap .business-banner {
        margin-top: 80px;
        height: 400px;
    }
    .business-wrap .business-banner p {
        font-size: 20px;
        font-weight: normal;
        padding: 0 56px;
    }
    .business-wrap .business-banner strong {
        font-size: 28px;
        line-height: 36px;
    }

    /* location */
    .location-wrap {
        padding-bottom: 64px;
    }
    .location-wrap .location-info {
        margin-top: 36px;
        padding: 0 16px;
    }
    .location-wrap .location-info > ul > li {
        padding: 16px 8px 8px;
    }
    .location-wrap .location-info > ul > li > span {
        position: static;
        display: block;
        font-size: 16px;
    }
    .location-wrap .location-info > ul > li > div {
        font-size: 16px;
        line-height: 20px;
        padding: 16px 0;
    }
    .location-wrap .location-info > ul > li > div ul li {
        flex-direction: column;
        align-items: start;
    }
    .location-wrap .location-info > ul > li > div ul li span {
        margin-bottom: 8px;
    }
    .location-wrap .location-info > ul > li > div ul li p {
        width: 100%;
    }
    .location-wrap .location-info > ul > li > div ul li span img {
        margin-right: 8px;
        height: 18px;
        width: auto;
    }
    .location-wrap .location-info > ul > li > div ul li span em {
        font-size: 16px;
    }
    .location-wrap .parking {
        font-size: 18px;
        line-height: 24px;
        height: auto;
        padding: 36px 0;
    }

    /* service */
    .service-wrap .section-1,
    .service-wrap .section-2 {
        height: 300px;
    }
    .service-wrap .section-1 p,
    .service-wrap .section-2 p {
        font-size: 24px;
        line-height: 36px;
    }
    .service-wrap .section-2 p  {
        padding: 0 52px;
    }
    .service-wrap section .section-title,
    .base-wrap .section-1 .base-text strong,
    .recruit-wrap section .section-header h3,
    .business-wrap section[class^=section-] h3.section-title,
    .partner-wrap .partner-box h3 {
        font-size: 24px;
        text-align: center;
        padding-top: 21px;
        position: relative;
    }
    .service-wrap section .section-title::before, 
    .base-wrap .section-1 .base-text strong::before,
    .recruit-wrap section .section-header h3::before,
    .business-wrap section[class^=section-] h3.section-title::before,
    .partner-wrap .partner-box h3::before {
        left: 50%;
        transform: translateX(-50%);
        width: 60px;
        position: absolute;
        top: 0;
    }
    .service-wrap section.app {
        height: 1500px;
    }
    .service-wrap section.app .app-text {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .service-wrap section.app .app-text > img {
        width: 80%;
        max-width: 400px;
        position: relative;
        left: 50%;
        margin-left: -30%;
    }
    .service-wrap section.app .app-text>.text-box {
        width: 100%;
        padding: 48px 24px;
    }
    .service-wrap section.app .app-text>.text-box p {
        font-size: 20px;
        line-height: 28px;
        text-align: center;
    }
    .service-wrap section.app .app-text>.text-box .desc {
        margin-top: 92px;
        line-height: 24px;
        text-align: center;
    }
    .service-wrap section.app .app-text>.text-box .app-link {
        justify-content: center;
    }
    .service-wrap section.app .app-screen {
        margin-top: 40px;
    }
    .service-wrap section.app .app-screen ul {
        flex-wrap: nowrap;
        overflow-x: auto;
        justify-content: flex-start;
        padding: 0 36px 8px 16px;
    }
    .service-wrap section.app .app-screen ul::-webkit-scrollbar {
        display: none;
    }
    .service-wrap section.app .app-screen ul li {
        min-width: 136px;
    }
    .service-wrap section.app .app-screen ul li span {
        font-size: 16px;
    }
    .service-wrap section.app .inner {
        padding-top: 120px;
    }
    .service-wrap section.point .inner > p {
        font-size: 24px;
        line-height: 36px;
    }
    .service-wrap section.point .inner > p em {
        display: block;
    }
    .service-wrap section.admin-app {
        height: 1020px;
    }
    .service-wrap section.admin-app::after {
        height: 240px;
    }
    .service-wrap section.admin-app .text-box {
        width: 100%;
    }
    .service-wrap section.admin-app .text-box p {
        font-size: 20px;
        line-height: 28px;
    }
    .service-wrap section.admin-app .inner>img {
        width: 80%;
        max-width: 400px;
        bottom: 72px;
        right: auto;
        left: 50%;
        margin-left: -30%;
    }
    .service-wrap section.admin-app .text-box p,
    .service-wrap section.admin-app .text-box .app-link {
        padding: 0 36px;
        text-align: center;
        justify-content: center;
    }
    .service-wrap section.admin-app .text-box .desc {
        font-size: 18px;
        line-height: 24px;
        padding: 0 36px;
        text-align: center;
    }
    .service-wrap section.admin-web {
        height: 792px;
    }
    .service-wrap section.admin-web .inner {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .service-wrap section.admin-web .text-box {
        width: 100%;
        padding-top: 120px;
    }
    .service-wrap section.admin-web .text-box p {
        font-size: 24px;
        line-height: 36px;
        text-align: center;
    }
    .service-wrap section.admin-web .text-box div {
        font-size: 18px;
        line-height: 24px;
        text-align: center;
    }
    .service-wrap section.admin-web .text-box span {
        display: block;
        text-align: center;
        font-size: 16px;
    }
    .service-wrap section.admin-web .inner img {
        width: 80%;
        max-width: 400px;
        position: static;
        display: block;
        margin: 48px auto;
    }
    .base-wrap .base-content {
        padding: 48px 16px;
    }
    .base-wrap .section-1 {
        padding-bottom: 80px;
    }
    .base-wrap .section-1 .base-text div {
        font-size: 20px;
        line-height: 26px;
        margin-top: 48px;
        text-align: center;
        padding: 0 8%;
    }
    .base-wrap .section-1 .base-text ul li {
        font-size: 16px;
        text-align: center;
        padding-left: 0;
    }
    .base-wrap .section-1 .base-text ul li::before {
        display: inline-block;
        position: static;
        height: 3px;
    }
    .base-wrap .section-1 .base-text ul li span {
        display: block;
    }
    .base-wrap .section-1 .base-img .text {
        text-align: center;
    }
    .base-wrap .section-1 .base-img .text strong {
        font-size: 20px;
    }
    .base-wrap .section-1 .base-img .text p {
        font-size: 16px;
        line-height: 20px;
    }
    .base-wrap .section-2 {
        padding: 36px 16px;
    }
    .base-wrap .section-2 .base-photo {
        flex-direction: column;
    }
    .base-wrap .section-2 .base-photo .photo-box {
        width: 100%;
    }
    .base-wrap .section-2 .base-photo .photo-box ul {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .base-wrap .section-2 .base-photo .photo-box ul li+li {
        margin-left: 0;
    }
    .base-wrap .section-2 .base-photo .photo-box ul li img {
        margin: 16px 0;
    }
    .base-wrap .section-2 .base-photo .photo-box ul li span {
        font-size: 16px;
        margin-bottom: 24px;
        text-align: center;
    }
    /* recruit */
    .recruit-wrap {
        padding: 48px 0;
    }
    .recruit-wrap section .talent {
        padding: 96px 0;
        background-position: center bottom;
        background-size: 100% auto;
    }
    .recruit-wrap section .talent p {
        font-size: 24px;
        line-height: 36px;
        text-align: center;
    }
    .recruit-wrap section .talent img {
        width: 80%;
        max-width: 400px;
        margin: 36px auto;
        display: block;
    }
    .recruit-wrap section .recruit-guide {
        padding: 0 16px;
    }
    .recruit-wrap section .recruit-guide .download-btn a {
        width: auto;
        height: auto;
        font-size: 14px;
        padding: 16px;
    }
    .recruit-wrap section .recruit-guide .download-btn a:active em {
        background-image: url(../images/icon_download_white.png);
    }
    .recruit-wrap section .recruit-guide .table table th {
        width: 28%;
        padding: 16px 0 16px 8px;
    }
    .recruit-wrap section .recruit-guide .table table th,
    .recruit-wrap section .recruit-guide .table table td {
        font-size: 16px;
        line-height: 24px;
    }
    /* notice */
    .board-wrap {
        border: 1px solid red;
    }
    .board-wrap .board-total {
        padding: 0 16px;
        margin-bottom: 8px;
    }
    .board-wrap .board-list {
        padding: 0 16px;
    }
    .board-wrap .board-list table {
        table-layout: auto;
    }
    .board-wrap .board-list th, 
    .board-wrap .board-list td {
        font-size: 14px;
        padding: 8px 0;
        line-height: normal;
    }
    .board-wrap .board-list th:nth-child(1),
    .board-wrap .board-list td:nth-child(1) {
        display: none;
    }
    .board-wrap .board-list th:nth-child(2) {
        width: 68%;
        background: pink;
        text-align: left;
        text-indent: 8px;
    }
    .board-wrap .board-list th:nth-child(3) {
        width: 32%;
        background: yellow;
    }
    .board-wrap .board-list td {
        font-size: 14px;
    }
    .board-wrap .board-list td a {
        font-size: 14px;
        font-family: inherit;
        background: pink;
        text-align: left;
        text-indent: 8px;
    }
    .board-wrap .board-search form {
        padding: 0 16px;
        border: 1px solid red;
    }
    .board-wrap .board-search .search-box input {
        width: auto;
    }
    .board-wrap .board-search .search-box button {
        width: 88px;
        font-size: 14px;
    }
}
@media (max-width: 413px) {
}
@media (max-width: 375px) {

    /* service */
    .service-wrap .section-1 p, 
    .service-wrap .section-2 p {
        font-size: 20px;
    }
    .service-wrap .section-2 p {
        padding: 0 36px;
    }
    .service-wrap section.point .inner > p {
        font-size: 20px;
        line-height: 28px;
    }
}
@media (max-width: 359px) {
   
}
@media (max-width: 319px) {
    
}


